@*https://www.youtube.com/watch?v=qvsWwwq2ynE*@

@using Microsoft.AspNetCore.Identity
@model IEnumerable<AppUser>

@{
	ViewData["Title"] = "Application Users";


}
<h1>View Application Users</h1>
@*<p>
	<a asp-action="Create">Create Role</a>
</p>*@

<table class="table">
	<thead>
	<tr>
		<th>@Html.DisplayNameFor(model => model.Id)</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>@Html.DisplayNameFor(model => model.Email)</th>
		<th>Assigned Role</th>

	</tr>
		
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>@Html.DisplayFor(modelItem => item.Id)</td>
			<td>@Html.DisplayFor(modelItem => item.FirstName)</td>
			<td>@Html.DisplayFor(modelItem => item.LastName)</td>
			<td>@Html.DisplayFor(modelItem => item.Email)</td>
			


		</tr>
	}
	</tbody>
</table>