@*https://www.youtube.com/watch?v=qvsWwwq2ynE*@

@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationUser>

@{
	ViewData["Title"] = "Application Roles";


}
<h1>View Roles</h1>
@*<p>
	<a asp-action="Create">Create Role</a>
</p>*@

<table class="table">
	<thead>
	<tr>
		<th>@Html.DisplayNameFor(model => model.FirstName)</th>
		<th>@Html.DisplayNameFor(model => model.LastName)</th>
		<th>@Html.DisplayNameFor(model => model.Role)</th>

	</tr>
		
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>@Html.DisplayFor(modelItem => item.FirstName)</td>
			<td>@Html.DisplayFor(modelItem => item.LastName)</td>
			<td>@Html.DisplayFor(modelItem => item.Role)</td>


		</tr>
	}
	</tbody>
</table>